@import './styles/fonts.css';
@import 'tailwindcss';
@import './styles/theme.css';

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}
